---
---

@charset "utf-8";

// Responsive video container for YouTube embeds
.responsive-video-container {
  position: relative;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 1.5em 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Better image styling for photo blog
.page__content {
  img {
    border-radius: 4px;
    margin: 0.5em 0;
  }

  // Gallery-style image groups
  img + img {
    margin-top: 0.25em;
  }

  // Caption styling
  em {
    display: block;
    text-align: center;
    color: #6c757d;
    font-size: 0.85em;
    margin-top: -0.25em;
    margin-bottom: 1em;
  }
}
